<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<body>
  <div class="conteiner">
    <h2>Artigos</h2>
    <a class="btn btn-primary" href="articles/new">Criar novo artigo</a>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>Id</td>
          <td>Título</td>
          <td>Slug</td>
          <td>Categoria</td>
          <td>Ações</td>
        </tr>
      </thead>
      <tbody>
        <% articles.forEach(article => { %>
          <tr>
            <td><%= article.id %></td>
            <td><%= article.title %></td>
            <td><%= article.slug %></td>
            <td><%= article.category?.title %></td>
            <td>
              <a class="btn btn-warning" href="articles/edit/<%= article.id %>">Editar</A>
              <form method="POST" action="articles/delete" onSubmit="confirmDelete(event, this)" style="display: inline;">
                <input type="hidden" name="id" value="<%= article.id %>">
                <button class="btn btn-danger">Apagar</button>
              </form>
            </td> 
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</body>

<script>
  function confirmDelete(event, form){
    event.preventDefault();
    if(confirm('Você deseja apagar esse artigo?')){
      form.submit();
    }
  }
</script>
<%- include('../../partials/footer.ejs') %>

