<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs', { categories: categories }) %>

<div class="conteiner">
  <% articles.forEach(article => { %>
    <div class="card">
      <div class="card-header">
        <h2><%= article.title %></h2>
        <h3><%= article.category.title %></h3>
      </div>
      <div class="card-body">
        <a class="btn btn-success" href="/articles/<%= article.slug %>">Ler artigo</a>
      </div>
    </div>
    <br />
  <% }); %>
  <div class="row">
    <div class="col col-12">
      <% if(has_previous){ %>
        <a style="float: left;" href="/?page=<%= current_page - 1%>&page=<%= per_page %>"><<< Previous</a>
      <% } %>
      <% if(has_next){ %>
        <a style="float: right;" href="/?page=<%= current_page + 1%>&page=<%= per_page %>">Next >>></a>
      <% } %>
    </div>
  </div> 
</div>
<%- include('./partials/footer.ejs') %>
