<%- include('./../partials/header.ejs') %>
<%- include('./../partials/navbar.ejs') %>
<div class="conteiner">
  <div class="card">
    <div class="card-header">
      <h2><%= article.title %></h2>
      <h3><%= article.category.title %></h3>
    </div>
    <div class="card-body">
      <%- article.body %>
    </div>
  </div>
</div>
<script src="/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: '#articleBody',
    plugins: ['advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons']
  });
</script>
<%- include('./../partials/footer.ejs') %>
